.navBar {
		float: center;
		background-color: #bde4ed;
}

div {
	text-align: center;
}

.label {
	text-align: center;
	font-size: 150%;
}

.recipeList{
	text-align: center;
}

.backButton{
	float: left;
}

.foodPicture{
	text-align: center;
}

.navButton{
	float: center;

	background-color: white;
	border: none;
	border-radius: 8px;
	color: gray;

	padding: 20px 20px;
	/*width: 25%; */

	font-family: bookman;
}

.recipeSummary{
	text-align: center;
}