<!doctype html>

<html>
<head>
	<title>LAByrinth</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"> 
	<link href="/css/main.css" type="text/css" rel="stylesheet">
	
</head>
<body>
	<div id="navbar" class="scrollmenu">
		<a href='profile'>Profile</a>
		<a href='stats'>Stats</a>
		<a class="active" href='achievements'> Achievements </a>
		<a href='recipeSearch'>Recipes</a>
		<a href='favorites'>Favorites</a>
		<a href='recent'>Recent</a>
		<a href='options'>Options</a>
		
	</div>

	<div>
	<br />
	<h1 align="center"> Achievements </h1>

<div class="ach-container ach-border">
	<img src="/images/chefhat.jpg">
	<div>
	<h3> yes </h3>
	<p> here is some text yay </p>
</div>
	
</div>

</div>


</body>
</html>