<!doctype html>

<html>
<head>
	<title>LAByrinth</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"> 
	<link href="/css/main.css" type="text/css" rel="stylesheet">
	
</head>
<body>
	<div id="navbar" class="scrollmenu">
		<a href='profile'>Profile</a>
		<a href='stats'>Stats</a>
		<a class="active" href='achievements'> Achievements </a>
		<a href="home"> Home </a>
		<a href='recipeSearch'>Recipes</a>
		<a href='favorites'>Favorites</a>
		<a href='recent'>Recent</a>
		<a href='options'>Options</a>
		
	</div>

	<div>
	<br />
	<h1 align="center"> Achievements </h1>

<div class="ach-container ach-border">
	<img src="/images/baby.png">
	<div>
	<h4><b> Baby Steps </b> </h4>
	<p> Cook ten different meals<br> <meter value=2 max=5>2 out of 5 </meter></p>
	</div>
</div>
<br>
<div class="ach-container ach-border">
	<img src="/images/spice.png">
	<div>
	<h4><b> Spice of Life </b> </h4>
	<p> Cook one dish of each type<br> <meter value=3 max=5>4 out of 10 </meter></p>
	</div>
</div>
<br>
<div class="ach-container ach-border">
	<img src="/images/flower.png">
	<div>
	<h4><b> Budding Chef </b> </h4>
	<p> Reach intermediate <br> <meter value=4 max=5>2 out of 5 </meter></p>
	</div>
</div>
<br>
<div class="ach-container ach-border">
	<img src="/images/penny.png">
	<div>
	<h4><b> Penny Pinching </b> </h4>
	<p> Save $1000 by not eating out<br> <meter value=9 max=10>2 out of 5 </meter></p>
	</div>
</div>
<br>
<div class="ach-container ach-border">
	<img src="/images/friend.png">
	<div>
	<h4><b> One of Us! </b> </h4>
	<p> Have this app for two months <br> <meter value=5 max=8>2 out of 5 </meter></p>
	</div>
</div>
	
</div>


</body>
</html>