<!doctype html>

<html>
<head>
	<title>LAByrinth</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"> 
	<link href="/css/main.css" type="text/css" rel="stylesheet">
</head>


<body onload="mealhide();setcount();">

	<div id="navbar" class="scrollmenu">
		<a href='profileB'>Profile</a>
		<a class="active" href='recipeSearchB'>Recipes</a>
		<a href='optionsB'>Options</a>
	</div>

	<div class="submenu">
		<a href='favoritesB'>Favorites</a>
		<a href='recentB'>Recent</a>
	</div>

	<div class="container" style="width: 80%;">
		<img src="/images/Prepd.png" id=title width="100%" height="auto" align="center" style="margin: 50px 0px 15px 0px">
		<!-- old image
		<img  id="logo" src="/images/Fire logo.png" alt="logo" style="margin-top: 100px">
		-->

		<a href="recipeSearchB"> <button style="margin-top: 20px" class="newAccount buttons" type="submit">
			CREATE MEAL PLAN  
		</button></a>

<div>
	<h5 class="texts"> COOKED MEALS</h5>
	<h5> Mark a recipe as completed to have it show up here! </h5>

	<div class="listDiv cooked" id='turkey'>
		<label class="listHeader"> Turkey Burgers </label>
		<label class="listLabel" style="display: inline-block; float: left; width: 100px;"> MEALS LEFT: </label>
		<label class="listLabel" style="display: inline-block; font-size: 50px; width: 50px; text-align: center; float: left;" id=turkeycountout></label>
		<br>
		<button class="atemealbtn" id='turkeybtn' onclick="atemeal(this)"> Ate a meal! </button>

		<button class="nvmbtn" id='turkeybtnnvm' onclick="nvm(this)">Nevermind </button>
	</div>

	<div class="listDiv cooked" id='shrimp'>
		<label class="listHeader">Shrimp with Zucchini Noodles</label>
		<label class="listLabel" style="display: inline-block; float: left; width: 100px;"> MEALS LEFT: </label>
		<label class="listLabel" style="display: inline-block; font-size: 50px; width: 50px; text-align: center; float: left;" id=shrimpcountout></label>
		<br>
		<button class="atemealbtn" id='shrimpbtn' onclick="atemeal(this)"> Ate a meal! </button>

		<button class="nvmbtn" id="shrimpbtnnvm" onclick="nvm(this)">Nevermind </button>
	</div>

	<div class="listDiv cooked" id='butter'>
		<label class="listHeader">Chicken and Butternut Soup</label>
		<label class="listLabel" style="display: inline-block; float: left; width: 100px;"> MEALS LEFT: </label>
		<label class="listLabel" style="display: inline-block; font-size: 50px; width: 50px; text-align: center; float: left;" id=buttercountout></label>
		<br>
		<button class="atemealbtn" id='butterbtn' onclick="atemeal(this)"> Ate a meal! </button>

		<button class="nvmbtn" id='butterbtnnvm' onclick="nvm(this)">Nevermind </button>
	</div>

	<div class="listDiv cooked" id='cous'>
		<label class="listHeader">Curried Chicken with Couscous</label>
		<label class="listLabel" style="display: inline-block; float: left; width: 100px;"> MEALS LEFT: </label>
		<label class="listLabel" style="display: inline-block; font-size: 50px; width: 50px; text-align: center; float: left;" id=couscountout></label>
		<br>
		<button class="atemealbtn" id='cousbtn' onclick="atemeal(this)"> Ate a meal! </button>

		<button class="nvmbtn" id='cousbtnnvm' onclick="nvm(this)">Nevermind </button>
	</div>

	<div class="listDiv cooked" id='enchi'>
		<label class="listHeader">Slow Cooker Enchiladas</label>
		<label class="listLabel" style="display: inline-block; float: left; width: 100px;"> MEALS LEFT: </label>
		<label class="listLabel" style="display: inline-block; font-size: 50px; width: 50px; text-align: center; float: left;" id=enchicountout></label>
		<br>
		<button class="atemealbtn" id='enchibtn' onclick="atemeal(this)"> Ate a meal! </button>

		<button class="nvmbtn" id='enchibtnnvm' onclick="nvm(this)">Nevermind </button>
	</div>

	<div class="listDiv cooked" id='roasted'>
		<label class="listHeader">Roasted Chicken</label>
		<label class="listLabel" style="display: inline-block; float: left; width: 100px;"> MEALS LEFT: </label>
		<label class="listLabel" style="display: inline-block; font-size: 50px; width: 50px; text-align: center; float: left;" id=roastedcountout></label>
		<br>
		<button class="atemealbtn" id='roastedbtn' onclick="atemeal(this)"> Ate a meal! </button>

		<button class="nvmbtn" id='roastedbtnnvm' onclick="nvm(this)">Nevermind </button>
	</div>



</div>
		<br>
		<h5 class="texts"> PLANNED MEALS</h5>
		<div class="listDiv"> 
			<label class="listHeader"> Turkey Burgers </label>
			<label class="listLabel" style="display: inline-block; float: left; width: 100px;"> MEALS LEFT: </label>
			<label class="listLabel" style="display: inline-block; font-size: 50px; width: 50px; text-align: center; float: left;">2</label>
		</div>



	</div>

<script>
	var shrimp = document.getElementById("shrimpbtn");
	var shrimp_nvm = document.getElementById("shrimpbtnnvm")
	var s_content = document.getElementById("shrimpcountout")
	shrimp.addEventListener("click",function(){
		s_content.innerHTML = localStorage.getItem('shrimpcount');
	});
	shrimp_nvm.addEventListener("click",function(){
		s_content.innerHTML = localStorage.getItem('shrimpcount');
	});
</script>


	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114632773-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114632773-2');
</script>



<script src="js/mealplan.js"></script>

</body>
</html>