<!doctype html>

<html>
<head>
	<title>LAByrinth</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../public/css/main.css" type="text/css" rel="stylesheet">
	
</head>
<body>
	<h1 class="header" align="center"> Home Screen</h1>
	
	<div class="container">
		<label><b>Username</b></label>
		<input type="text" placeholder="Enter Username" name="uname" required>
		<br />
		<label><b>Password</b></label>
		<input type="password" placeholder="Enter Password" name="psw" required>
		<br />
		<a href="recipeSearch"><button type="submit">Login</button></a>
		<label>
		  <input type="checkbox" checked="checked"> Remember me
		</label>
	</div>
	
	<br />
	
</body>
</html>