<!doctype html>

<html>
<head>
	<title>LAByrinth</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"> 
	<link href="/css/main.css" type="text/css" rel="stylesheet">
	
</head>
<body>

	<div id="navbar" class="scrollmenu">
		<a href='profile'>PROFILE</a>
		<a href='home'>HOME</a>
		<a class="active" href='options'>OPTIONS</a>
	</div>
	<br>

	<div align="center" class="container" style="width: 80%">
	<h1 align="center" class="header"> OPTIONS </h1>
		<br>
		<a href="/">
			<button class="buttons"> LOG OUT </button>
		</a>
		<a href="questions">
			<button class="buttons"> EDIT PREFERENCES </button>
		</a>
	</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114632773-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114632773-2');
</script>

</body>
</html>