<!doctype html>

<html>
<head>
	<title>LAByrinth</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"> 
	<link href="/css/main.css" type="text/css" rel="stylesheet">
	
</head>
<body>

	<div>
		<ul>
			<li><a href='stats'> Stats </a></li>
			<li><a href='recipeSearch'>Recipes</a></li>
			<li><a class="active" href='options'>Options</a></li>
		</ul>
	</div>
	<br />
	
	<h1 align="center"> Options </h1>


	<div>
		<label>
	
	<div align="center">
	<a href="/">
		<button> Return to Login </button>
	</a>
	</div>

	<div style="margin-top: 50px">
	<a href="questions">
		<button> Edit preferences </button>
	</a>
	</div>

</div>
</body>
</html>