<!doctype html>

<html>
<head>
	<title>LAByrinth</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"> 
	<link href="/css/main.css" type="text/css" rel="stylesheet">
	
</head>
<body>

	<div class="navBar container-fluid">
		<div class="row">
			<div class="col-xs-4 noncurrent">
				<b><a href="stats"><img src="../images/person.png" height="10%" width="10%" alt="Profile" /></a></b>
			</div>
			<div class="col-xs-4 noncurrent">
				<b><a href="recipeSearch"><img src="../images/cookbook.png" height="8%" width="8%" alt="Recipes" /></a></b>
			</div>
			<div class="col-xs-4 current">
				<b><a href="options"><img src="../images/cog.png" height="10%" width="10%" alt="Options" /></a></b>
			</div>
		</div>
	</div>
	<br />
	
	<h1 align="center"> Options </h1>


	<div>
		<label>
	
	<div align="center">
	<a href="/">
		<button> Return to Login </button>
	</a>

</div>
</body>
</html>