<!doctype html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/main.css" type="text/css" rel="stylesheet">
</head>

<html>

<h1> Questionaire </h1>

<h3> Please answer these questions so we can tailor these recipes to your tastes! Feel free to skip any you do not wish to answer.</h3>

<div class="container-fluid">
	<div class="container">
		<h3> Question 1) </h3>
		<p> What type of food do you like?</p>
		<input type="text" placeholder="ex.Asian">
	</div>

	<div class="container">
		<h3> Question 2) </h3>
		<p> What type of food do you dislike?</p>
		<input type="text" placeholder="ex.spicy food">
	</div>

	<div class="container">
		<h3> Question 3) </h3>
		<p> Any dietary restrictions?</p>
		<input type="text" placeholder="ex.vegetarian">
	</div>

	<div class="container">
		<h3> Question 4) </h3>
		<p> Anything you're allergic to?</p>
		<input type="text" placeholder="ex.peanuts">
	</div>
</div>

<div>
	<h4> Create new login </h4>
	<input type="text" placeholder="username" required>
	<input type="text" placeholder="password" required>
	<a href="recipeSearch.html">
		<button class="btn btn-block"> Go! </button>
	</a>
</div>

</html>