<!doctype html>

<html>
<head>
	<title>LAByrinth</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"> 
	<link href="/css/main.css" type="text/css" rel="stylesheet">
	
</head>
<body>
	<div id="navbar" class="scrollmenu">
		<a href='stats'>Stats</a>
		<a href='recipeSearch'>Recipes</a>
		<a href='favorites'>Favorites</a>
		<a class="active" href='recent'>Recent</a>
		<a href='options'>Options</a>
		<a href=#> Achievements </a>
	</div>

	<h1 align="center"> Recently Viewed </h1>

	
</body>
</html>