<!doctype html>

<html>
<head>
	<title>LAByrinth</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../public/css/main.css" type="text/css" rel="stylesheet">
	
</head>
<body>
	<div class="backButton">
		<a href="recipeSearch.html">
		<img src="../images/back.jpg" height="30%" width="30%" alt="back" />
		</a>
	</div>
	<br />
	<div class="foodPicture" >
		<a>
		<img src="../images/foodDefault.jpg"  height="10%" width="10%" alt="food" />
		</a>
	</div>
	<br />
	
	<div class="recipeSummary">
	<label>RECIPE NAME</label>
	<br />
	<label>DIFFICULTY: </label><b>MEDIUM</b>
	<br />
	<label>Servings: 9</label>
	<br />
	<label>Cost Per Serving: $10</label>
	<br />
	<label>Cook Time: 45 minutes</label>
	<br />
	</div>
	
	<div class="navButton">
	<button>Link to Recipe</button>
	<br />
	<button>Completed</button>
	<br />
	<button>Save to Favorites</button>
	<br />
	</div>
	
	
</body>
</html>