.navBar {
		float: center;
		background-color: #A3E4D7;
}

.current{
	background-color: #E5E8E8;
}

div {
	text-align: center;
}


label {
	font-family: "Palatino";
	font-size: 100%;
	vertical-align: left;
}

.container {
	vertical-align: center;
	text-align: center;

	/*margin-left: 1px;
	background-color: #ab1234;
	padding: 1px;
	width: 1px; */
}


.header {
	font-family: "Palatino";
}


.label {
	text-align: center;
	font-size: 150%;
}

.recipeList{
	text-align: center;
}

.backButton{
	float: right;
}

.foodPicture{
	text-align: center;
}

.navButton{
	float: center;

	background-color: white;
	border: none;
	border-radius: 8px;
	color: gray;

	padding: 20px 20px;
	/*width: 25%; */

	font-family: bookman;
}

.recipeSummary{
	text-align: center;
}