<!doctype html>

<html>
<head>
	<title>LAByrinth</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"> 
	<link href="/css/main.css" type="text/css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	
</head>
<body>
	<div id="navbar" class="scrollmenu">
		<a href='../stats'>Stats</a>
		<a href='../recipeSearch'>Recipes</a>
		<a href='../favorites'>Favorites</a>
		<a href='../recent'>Recent</a>
		<a href='../options'>Options</a>
		<a href=#> Achievements </a>
	</div>

		<button onclick="goBack()" class="backbtn"> Back </button>
	<div>

	<h2>Garlic Basil Shrimp with Zucchini Noodles</h2>

	<div class="container">
		<img class="thumbnail" src="https://s3-us-west-2.amazonaws.com/beachbody-blog/uploads/2017/04/Garlic-Basil-Shrimp-with-Zucchini-Noodles-394x197.jpg" />
	</div>

	<div class="navButton">
	<button>Favorite</button>
	</div>


	<label>Total time: 20 mins</label>
	<br/ >
	<label>Prep time: 10 mins</label>
	<br />
	<label>Cooking time: 10 mins </label>
	<br />
	<label>Makes: 4 servings</label>
	<br />

	<h3>Ingredients</h3>

	<p>Hot water</p>
	<p>5 medium zucchini spiralized (approx. 5 cups)</p>
	<p>1 Tbsp. olive oil</p>
	<p>8 oz. raw medium shrimp peeled, deveined</p>
	<p>6 cloves garlic crushed</p>
	<p>¼ cup prepared pesto sauce</p>
	<p>4 fresh flat leaf (Italian) parsley sprigs, finely chopped</p>
	<p>5 fresh basil leaves finely chopped</p>
	<p>Sea salt (or Himalayan salt) and ground black pepper (to taste; optional)</p>
	<p>4 Tbsp. sliced raw almonds</p>
	

	<br />

	<h3>Preparation</h3>
	<br />

	<ol>
		<li>Boil water in steamer (or large saucepan) over high heat. Reduce heat to medium-high. Place zucchini in steamer basket; cook for 2 to 3 minutes, or until tender. Remove from heat. Set aside.</li>
		<li>Heat oil in large nonstick skillet over medium-high heat.</li>
		<li>Add shrimp and garlic; cook, stirring frequently, for 2 to 3 minutes, or until shrimp are opaque and firm.</li>
		<li>Add pesto; cook, stirring frequently, for 1 to 2 minutes, or until heated through.</li>
		<li>Add parsley and basil; toss gently until blended.</li>
		<li>Season with salt and pepper if desired.</li>
		<li>Divide zucchini between four serving plates; top evenly with shrimp mixture.</li>
		<li>Garnish each serving with 1 Tbsp. almonds.</li>
	</ol>

	<div id="checkbox-container">
	<label><input type="checkbox" onclick="dishcount(this)" id="completedbox"></input> Completed </label>
	</div>
</div>

<script src="/js/dishcount.js"></script>
<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
	
</body>
</html>