<!doctype html>

<html>
<head>
	<title>LAByrinth</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"> 
	<link href="/css/main.css" type="text/css" rel="stylesheet">
	<link href="/css/toggle.css" type="text/css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	
</head>
<body>

		<button onclick="goBack()" class="backbutton"> Back </button>
	<div>

	<h2><strong>Garlic Basil Shrimp with Zucchini Noodles</strong></h2>

	<div class="container">
		<img class="thumbnail" style="width:100%" src="https://s3-us-west-2.amazonaws.com/beachbody-blog/uploads/2017/04/Garlic-Basil-Shrimp-with-Zucchini-Noodles-394x197.jpg" />
	</div>

	<div class="container">
		<button class="buttons" style="margin-bottom: 25px">FAVORITE</button>
		<br>
		<h4>Completed</h4>
		<label class="switch" style="margin-bottom: 20px">
		  <input type="checkbox" id="shrimpcheck" onclick="dishcount(this);mealplan(this);" >
		  <span class="slider round"></span>
		</label>
	</div>



	<label>Total time: 20 mins</label>
	<br/ >
	<label>Prep time: 10 mins</label>
	<br />
	<label>Cooking time: 10 mins </label>
	<br />
	<label>Makes: 4 servings</label>
	<br />

	<h3>Ingredients</h3>

	<p>Hot water</p>
	<p>5 medium zucchini spiralized (approx. 5 cups)</p>
	<p>1 Tbsp. olive oil</p>
	<p>8 oz. raw medium shrimp peeled, deveined</p>
	<p>6 cloves garlic crushed</p>
	<p>¼ cup prepared pesto sauce</p>
	<p>4 fresh flat leaf (Italian) parsley sprigs, finely chopped</p>
	<p>5 fresh basil leaves finely chopped</p>
	<p>Sea salt (or Himalayan salt) and ground black pepper (to taste; optional)</p>
	<p>4 Tbsp. sliced raw almonds</p>
	

	<br />

	<h3>Preparation</h3>
	<br />

<div class="recipelist">
	<ol>
		<li>Boil water in steamer (or large saucepan) over high heat. Reduce heat to medium-high. Place zucchini in steamer basket; cook for 2 to 3 minutes, or until tender. Remove from heat. Set aside.</li>
		<li>Heat oil in large nonstick skillet over medium-high heat.</li>
		<li>Add shrimp and garlic; cook, stirring frequently, for 2 to 3 minutes, or until shrimp are opaque and firm.</li>
		<li>Add pesto; cook, stirring frequently, for 1 to 2 minutes, or until heated through.</li>
		<li>Add parsley and basil; toss gently until blended.</li>
		<li>Season with salt and pepper if desired.</li>
		<li>Divide zucchini between four serving plates; top evenly with shrimp mixture.</li>
		<li>Garnish each serving with 1 Tbsp. almonds.</li>
	</ol>
</div>

</div>

<script src="/js/dishcount.js"></script>
<script src="/js/mealplan.js"></script>
<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114632773-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114632773-2');
</script>

	
</body>
</html>