<!doctype html>

<html>
<head>
	<title>LAByrinth</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"> 
	<link href="/css/main.css" type="text/css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	
</head>
<body>

	<div id="navbar" class="scrollmenu">
		<a href='../profile'>Profile</a>
		<a href='../stats'>Stats</a>
		<a href='../achievements'> Achievements </a>
		<a href='../recipeSearch'>Recipes</a>
		<a href='../favorites'>Favorites</a>
		<a href='../recent'>Recent</a>
		<a href='../options'>Options</a>
		<!--a href=#> Achievements </a-->
	</div>

	<button onclick="goBack()" class="backbtn"> Back </button>

	<div>
	<h2>Curried Chicken with Couscous</h2>

	<div class="container">
		<img class="thumbnail" src="https://s3-us-west-2.amazonaws.com/beachbody-blog/uploads/2015/03/Curried-Chicken-with-Couscous1-715x358.jpg" />
	</div>

	<button style="margin-bottom: 25px">Favorite</button>
	<br>


	<label>Total time: 42 mins</label>
	<br/ >
	<label>Prep time: 15 mins</label>
	<br />
	<label>Cooking time: 27 mins </label>
	<br />
	<label>Makes: 8 servings</label>
	<br />

	<h3>Ingredients</h3>

	<p>2 cups water</p>
	<p>2½ cups canned light coconut milk divided use</p>
	<p>1 tsp salt (or Himalayan salt) divided use</p>
	<p>2 cups dry whole-grain couscous</p>
	<p>2 Tbsp all-purpose flour</p>
	<p>2 Tbsp curry powder</p>
	<p>2 lbs. raw chicken breast boneless, skinless, cut into ½-inch strips or bite-sized pieces</p>
	<p>1 Tbsp extra-virgin organic coconut oil</p>
	<p>3 medium carrots cut into matchstick-sized pieces</p>
	<p>½ cup raisins</p>
	<p>½ cup chopped fresh cilantro</p>
	

	<br />

	<h3>Preparation</h3>
	<br />

	<ol>
		<li>Heat water, ½ cup coconut milk, and ¼ tsp. salt in medium saucepan over medium high heat. Bring to a boil. Gradually stir in couscous. Remove from heat. Let stand, covered, for 5 minutes. Remove cover and fluff with a fork. </li>
		<li>Combine remaining ¾ tsp. salt, flour, and curry powder in a resealable plastic bag. Add chicken, seal the bag, and toss gently to coat.</li>
		<li>Heat oil in large skillet over medium heat.</li>
		<li>Add chicken; cook for 5 minutes, stirring frequently, or until chicken is no longer pink.</li>
		<li>Add remaining 2 cups coconut milk, carrots, and raisins. Bring to a boil. Reduce heat to low; gently boil, stirring occasionally, for 7 to 10 minutes, or until chicken is tender.</li>
		<li>Place ½ cup of couscous in each of eight serving bowls. Top with ¾ cup curried chicken. Garnish each serving with 1 Tbsp. cilantro. </li>
	</ol>

	<div id="checkbox-container">
	<label><input type="checkbox" onclick="dishcount(this)" id="completedbox"></input> Completed </label>
	</div>
</div>


<script src="/js/dishcount.js"></script>
<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114632773-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114632773-2');
</script>

	
</body>
</html>