<!doctype html>

<html>
<head>
	<title>LAByrinth</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"> 
	<link href="/css/main.css" type="text/css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	
</head>
<body>
	<div id="navbar" class="scrollmenu">
		<a href='../stats'>Stats</a>
		<a  href='../recipeSearch'>Recipes</a>
		<a href='../favorites'>Favorites</a>
		<a href='../recent'>Recent</a>
		<a href='../options'>Options</a>
		<a href=#> Achievements </a>
	</div>

		<button onclick="goBack()" class="backbtn"> Back </button>
	<div>

	<h2>Roasted Pumpkin, Sweet Potato, and Brown Rice Pilaf</h2>

	<div class="container">
		<img class="thumbnail" src="https://s3-us-west-2.amazonaws.com/beachbody-blog/uploads/2017/04/Pumpkin-Pilaf-700x350_d5hitz-394x197.jpg" />
	</div>

	<div class="navButton">
	<button>Favorite</button>
	</div>


	<label>Total time: 1 hour 45 mins</label>
	<br/ >
	<label>Prep time: 15 mins</label>
	<br />
	<label>Cooking time: 1 hour 20 mins </label>
	<br />
	<label>Makes: 8 servings</label>
	<br />

	<h3>Ingredients</h3>

	<p>2 cups cubed raw pumpkin (½-inch cubes)</p>
	<p>1 medium sweet potato, peeled, cut into ½-inch cubes</p>
	<p>2 tsp. olive oil, divided use</p>
	<p>1 medium onion, chopped</p>
	<p>2 medium celery stalk, chopped</p>
	<p>2 cups chopped kale</p>
	<p>2 cloves garlic, chopped</p>
	<p>Sea salt (or Himalayan salt) and ground black pepper (to taste; optional)</p>
	<p>3 cups low-sodium organic vegetable broth</p>
	<p>1 bay leaf</p>
	<p>1 cup dry brown rice</p>

	<br />

	<h3>Preparation</h3>
	<br />

	<ol>
		<li>Combine pumpkin, sweet potato, and 1 tsp. oil in a medium bowl; mix well.</li>
		<li>Arrange pumpkin mixture on baking pan.</li>
		<li>Bake for 10 to 12 minutes, stir; continue baking for 10 to 12 additional minutes, or until tender when pierced with a fork. Set aside.</li>
		<li>Heat remaining 1 tsp. oil in large saucepan over medium-high heat.</li>
		<li>Add onion, celery, and kale; cook, stirring frequently, for 4 to 5 minutes, or until onion is translucent.</li>
		<li>Add garlic; cook, stirring frequently, for 1 to 2 minutes.</li>
		<li>Season with salt and pepper if desired.</li>
		<li>Add broth, bay leaf, and rice. Bring to a boil, covered. Reduce heat to low; gently boil for 45 to 50 minutes, or until rice is cooked and liquid is absorbed. Remove bay leaf.</li>
		<li>Gently fold in pumpkin mixture.</li>
	</ol>

	<div id="checkbox-container">
		<label><input type="checkbox" onclick="dishcount(this)" id="completedbox"></input> Completed </label>
	</div>
	<div>



<script src="/js/dishcount.js"></script>
<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>

	
</body>
</html>