<!doctype html>

<html>
<head>
	<title>LAByrinth</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"> 
	<link href="/css/main.css" type="text/css" rel="stylesheet">
</head>

<body>
	<h1 class="header" align="center" style="margin-top:100px; margin-bottom: 25px"> <b>MEAL PREPPY</b> </h1>



	
	<div class="container">
		
		<br>
		<label style="margin-right: 10px"><b>Username</b></label>
		<input type="text" placeholder="Enter Username" name="uname" required>
		<br />
		<label style="margin-bottom: 20px; margin-right: 10px"><b>Password</b></label>
		<input type="password" placeholder="Enter Password" name="psw" required>
		<br />
		<a href="recipeSearch"><button style="margin-bottom: 20px; margin-right: 10px" type="submit">Login</button></a>
		<label>
		  <input type="checkbox" checked="checked"> Remember me
		</label>
		<br />
		<label style="margin-top: 30px">New User? Click <a href="questions">here</a>
			<br>
			<img  id="logo" src="/images/Fire logo.png" alt="logo" style="margin-top: 40px">
	</div>
	
	<br />
	
</body>
</html>