<!doctype html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/main.css" type="text/css" rel="stylesheet">
</head>


<html>
<body>
	<div class="topnav">
		<button onclick="goBack()" style="float: left;" class="backbutton"> BACK </button>
	</div>
	<div class="container" style="width: 90%">
		<h1 class="header" style="text-align: center; margin-top: 50px"> PREFERENCES </h1>

		<p class="texts" style=""> 
			Our app will also recommend you recipes based on the meals you
			create!
		</p>
		<p class="texts" style=""> 
			Recipe recommendations will be fine-tuned to your preferences.
		</p>
		<hr>

		<p class="texts" style="text-align: left; margin-left: 5px"> 
			What is your favorite type of food?
		</p>
		<input class="textbox" list="likefoodtypes" placeholder="    ex. Asian">
			<datalist id="likefoodtypes">
				<option value="Chinese">
				<option value="American">
				<option value="Asian">
				<option value="French">
				<option value="Greek">
				<option value="Indian">
				<option value="Italian">
				<option value="Japanese">
				<option value="Mexican">
				<option value="Thai">
				<option value="Vietnamese">
				<option value="Spicy dishes">
				<option value="Meat dishes">
				<option value="Vegetable dishes">
				<option value="Rice dishes">
				<option value="Egg dishes">
				<option value="None">
			</datalist>
		</input>

		<p class="texts" style="text-align: left; margin-left: 5px"> 
			What type of food do you dislike the most?
		</p>
		<input class="textbox" list="likefoodtypes" placeholder="     ex. Asian">	
		</input>

		<p class="texts" style="text-align: left; margin-left: 5px"> 
			Any dietary restrictions?
		</p>
		<input class="textbox" list="dietaryrestriction" placeholder="    ex. Vegan">
			<datalist id="dietaryrestriction">
				<option value="Ovo-Vegetarian">
				<option value="Lacto-Vegetarian">
				<option value="Lacto-Ovo Vegetairan">
				<option value="Vegan">
				<option value="Pescetarian">
				<option value="Hinduism">
				<option value="Judaism">
				<option value="Islam">
				<option value="Gluten intolerance">
			</datalist>
		</input>

		<p class="texts" style="text-align: left; margin-left: 5px">  
			Anything you're allergic to?
		</p>
		<input class="textbox" list="allergies" placeholder="    ex. Peanuts">
			<datalist id="allergies">
				<option value="Peanuts">
				<option value="Milk">
				<option value="Egg">
				<option value="Wheat">
				<option value="Soy">
				<option value="Fish">
				<option value="Shellfish">
				<option value="Nuts">
			</datalist>
		</input>

		<p class="texts" style="text-align: left; margin-left: 5px">  
			What do you believe is your own cooking skill?
		</p>

		<button class="buttons" style="width: 30%; display: inline-block; margin: 1px"> 
			NOVICE 
		</button>
		<button class="buttons" style="width: 30%; display: inline-block; margin: 1px"> 
			AVERAGE
		</button>
		<button class="buttons" style="width: 30%; display: inline-block; margin: 1px"> 
			PRO
		</button>

		<!--
		<h4 style="margin-top: 40px"> Create new login </h4>
		<input type="text" placeholder="username" required>
		<input type="text" placeholder="password" required>
		-->

		<p class="texts" style="margin-top: 50px"> 
			These preferences can always be changed by going to the "Options" tab!
		</p>

		<a href="recipeSearchB">
			<button class="buttons" style="margin-top: 0px"> 
				FINISH 
			</button>
		</a>
	</div>

<script src="/js/dishcount.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114632773-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114632773-2');
</script>

<body>

</html>