<!doctype html>

<html>
<head>
	<title>LAByrinth</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"> 
	<link href="/css/main.css" type="text/css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	
</head>
<body>
	<div id="navbar" class="scrollmenu">
		<a href='profile'>Profile</a>
		<a class="active" href='recipeSearch'>Recipes</a>
		<a href='options'>Options</a>
	</div>

	<div class="submenu">
		<a href='favorites'>Favorites</a>
		<a href='recent'>Recent</a>
	</div>

		<button onclick="goBack()" class="backbtn"> Back </button>
	<div>

	<h2>Roasted Chicken and Butternut Squash Soup</h2>

	<div class="container">
		<img class="thumbnail" src="https://s3-us-west-2.amazonaws.com/beachbody-blog/uploads/2017/04/Roasted-Chicken-and-Butternut-Squash-Soup_kuhic1-394x197.jpg" />
	</div>

	<button style="margin-bottom: 25px">Favorite</button>
	<br>


	<label>Total time: 38 mins</label>
	<br/ >
	<label>Prep time: 15 mins</label>
	<br />
	<label>Cooking time: 23 mins </label>
	<br />
	<label>Makes: 8 servings</label>
	<br />

	<h3>Ingredients</h3>

	<p>1 tsp. olive oil</p>
	<p>1 medium onion chopped</p>
	<p>1 medium red bell pepper chopped</p>
	<p>4 cups low-sodium organic chicken broth</p>
	<p>2 Tbsp. chopped fresh thyme (or 2 Tbsp. dried thyme)</p>
	<p>Sea salt (or Himalayan salt) and ground white pepper (to taste; optional)</p>
	<p>rotisserie chicken breast, boneless, skinless, shredded</p>
	<p>1 cup frozen corn (or roasted corn)</p>
	<p>2 cups cubed butternut squash</p>

	<br />

	<h3>Preparation</h3>
	<br />

	<ol>
		<li>Heat oil in medium saucepan over medium-high heat.</li>
		<li>Add onion and bell pepper; cook, stirring frequently, for 3 to 5 minutes, or until onion is translucent.</li>
		<li>Add chicken broth and thyme. Season with salt and pepper if desired; cook, stirring occasionally, for 10 minutes.</li>
		<li>Add chicken, corn, and squash; cook, stirring occasionally, for 5 to 8 minutes, or until squash is soft.</li>
		<li>Divide evenly between eight serving bowls.</li>
	</ol>

	<div id="checkbox-container">
	<label><input type="checkbox" onclick="dishcount(this)" id="completedbox"></input> Completed </label>
	</div>
</div>


<script src="/js/dishcount.js"></script>
<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
	
</body>
</html>