<!doctype html>

<html>
<head>
	<title>LAByrinth</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"> 
	<link href="/css/main.css" type="text/css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


	
</head>
<body>

	<div id="navbar" class="scrollmenu">
		<a href='profile'>Profile</a>
		<a class="active" href='recipeSearch'>Recipes</a>
		<a href='options'>Options</a>
	</div>

	<div class="submenu">
		<a href='favorites'>Favorites</a>
		<a href='recent'>Recent</a>
	</div>

	<button onclick="goBack()" class="backbtn"> Back </button>
	<div>

	<h2>Turkey Burgers</h2>

	<div class="container">
		<img class="thumbnail" src="https://s3-us-west-2.amazonaws.com/beachbody-blog/uploads/2017/04/turkey-Burgers_b6s7ao-394x197.jpg" />
	</div>

	<button style="margin-bottom: 25px">Favorite</button>
	<br>


	<label>Total time: 32 mins</label>
	<br/ >
	<label>Prep time: 10 mins</label>
	<br />
	<label>Cooking time: 12 mins </label>
	<br />
	<label>Makes: 4 servings</label>
	<br />

	<h3>Ingredients</h3>

	<p>1/4 cup whole wheat bread crumbs</p>
	<p>1/2 cup low-fat buttermilk</p>
	<p>1 lb. raw 93% lean ground turkey breast</p>
	<p>2 green onions</p>
	<p>1 tsp. Dijon mustard</p>
	<p>1 dash of Worcestershire sauce</p>
	<p>Ground black pepper to taste</p>

	<br />

	<h3>Preparation</h3>
	<br />

	<ol>
		<li>Combine bread crumbs and buttermilk in a medium bowl; mix well. Let sit for 10 minutes.</li>
		<li>Preheat grill or broiler on high.</li>
		<li>Add turkey, green onions, parsley, mustard, Worcestershire sauce, and pepper (if desired) to bread crumb mixture; mix well with clean hands.</li>
		<li>Shape into 4 patties.</li>
		<li>Grill or broil for 5 to 6 minutes on each side, or until patties are no longer pink in the middle.</li>
	</ol>

	<div id="checkbox-container">
	<h4 style="margin-top: 30px"> <u>Completed </u></h4>
	<label class="switch">
	  <input type="checkbox" onclick="dishcount(this)" id="completedbox">
	  <span class="slider round"></span>
	</label>
	</div>




</div>

<script src="/js/dishcount.js"></script>
<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114632773-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114632773-2');
</script>
	
</body>
</html>